
<div id="section_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 logo"><a class="rd_logo" href="http://www.travel4u.com.tw"><img src="images/logo_ft.svg" alt="山富旅遊"/></a></div>
      <div class="paymoney">已投保新光產險公司履約保證保險新台幣1億1仟6佰萬元 </div>
      <div class="col-lg-7 col-12 contact forpc">
        <ul>
          <li class="table_big">市話直撥<span class="bold">449-3535</span></li>
          <li>板橋<span class="bold">(02)2561-2858</span></li>
          <li>宜蘭<span class="bold">(03)931-0428</span></li>
          <li>彰化<span class="bold">(04)713-9777</span></li>
        </ul>
        <ul>
          <li class="table_big">手機加區碼<span class="bold">(02)449-3535</span></li>
          <li>林口<span class="bold">(02)2608-9829</span></li>
          <li>羅東<span class="bold">(03)931-0748</span></li>
          <li>嘉義<span class="bold">(05)283-0255</span></li>
        </ul>
        <ul>
          <li>台北<span class="bold">(02)2561-2999</span></li>
          <li>中壢<span class="bold">(03)422-7070</span></li>
          <li>新竹<span class="bold">(03)524-0318</span></li>
          <li>台南<span class="bold">(06)222-0101</span></li>
        </ul>
        <ul>
          <li>中和<span class="bold">(02)8242-1116</span></li>
          <li>桃園<span class="bold">(03)280-6555</span></li>
          <li>台中<span class="bold">(04)2322-4032</span></li>
          <li>高雄<span class="bold">(07)201-0303</span></li>
        </ul>
      </div>
      <div class="col-12 contact forphone">
        <div class="row">
          <ul class="col-6">
            <li class="table_big">市話直撥<br/><span class="bold">449-3535</span></li>
            <li>台北<span class="bold">(02)2561-2999</span></li>
            <li>宜蘭<span class="bold">(03)931-0428</span></li>
            <li>台南<span class="bold">(06)222-0101</span></li>
            <li>中壢<span class="bold">(03)422-7070</span></li>
            <li>彰化<span class="bold">(04)713-9777</span></li>
            <li>板橋<span class="bold">(02)2561-2858</span></li>
            <li>新竹<span class="bold">(03)524-0318</span></li>
          </ul>
          <ul class="col-6">
            <li class="table_big">手機加區碼<br/><span class="bold">(02)449-3535</span></li>
            <li>林口<span class="bold">(02)2608-9829</span></li>
            <li>台中<span class="bold">(04)2322-4032</span></li>
            <li>中和<span class="bold">(02)8242-1116</span></li>
            <li>羅東<span class="bold">(03)931-0748</span></li>
            <li>高雄<span class="bold">(07)201-0303</span></li>
            <li>桃園<span class="bold">(03)280-6555</span></li>
            <li>嘉義<span class="bold">(05)222-7700</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="qrcode"><img src="images/QRcode.png" alt="QRcode"/></div>
      </div>
    </div>
  </div>
</div>