#section_footer
  .container
    .row
      .col-lg-3.col-12.logo
        a.rd_logo(href="http://www.travel4u.com.tw")
          img(src="images/logo_ft.svg", alt="山富旅遊")
      .paymoney 已投保新光產險公司履約保證保險新台幣1億1仟6佰萬元 
      .col-lg-7.col-12.contact.forpc
        ul
          li.table_big
            | 市話直撥
            span.bold 449-3535
          li
            | 板橋
            span.bold (02)2561-2858
          li
            | 宜蘭
            span.bold (03)931-0428
          li
            | 彰化
            span.bold (04)713-9777
        ul
          li.table_big
            | 手機加區碼
            span.bold (02)449-3535
          li
            | 林口
            span.bold (02)2608-9829
          li
            | 羅東
            span.bold (03)931-0748
          li
            | 嘉義
            span.bold (05)283-0255
        ul
          li
            | 台北
            span.bold (02)2561-2999
          li
            | 中壢
            span.bold (03)422-7070
          li
            | 新竹
            span.bold (03)524-0318
          li
            | 台南
            span.bold (06)222-0101
        ul
          li
            | 中和
            span.bold (02)8242-1116
          li
            | 桃園
            span.bold (03)280-6555
          li
            | 台中
            span.bold (04)2322-4032
          li
            | 高雄
            span.bold (07)201-0303
      .col-12.contact.forphone
        .row
          ul.col-6
            li.table_big
              | 市話直撥
              br
              |
              span.bold 449-3535
            li
              | 台北
              span.bold (02)2561-2999
            li
              | 宜蘭
              span.bold (03)931-0428
            li
              | 台南
              span.bold (06)222-0101
            li
              | 中壢
              span.bold (03)422-7070
            li
              | 彰化
              span.bold (04)713-9777
            li
              | 板橋
              span.bold (02)2561-2858
            li
              | 新竹
              span.bold (03)524-0318
          ul.col-6
            li.table_big
              | 手機加區碼
              br
              |
              span.bold (02)449-3535
            li
              | 林口
              span.bold (02)2608-9829
            li
              | 台中
              span.bold (04)2322-4032
            li
              | 中和
              span.bold (02)8242-1116
            li
              | 羅東
              span.bold (03)931-0748
            li
              | 高雄
              span.bold (07)201-0303
            li
              | 桃園
              span.bold (03)280-6555
            li
              | 嘉義
              span.bold (05)222-7700
      .col-lg-2
        .qrcode
          img(src="images/QRcode.png" alt="QRcode")
