#section_nav
  .container
    .row
      .col-lg-12.col-12
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand
            img(src="images/ci_logo.svg" alt="中華航空")
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #myNavbar.navbar-collapse.collapse.justify-content-end
            ul.nav.navbar-nav
              li.nav-item
                a.nav-link(href="./index.html")
                  | 最新促銷 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href="./hsbc.html") 卡友專區
              li.nav-item
                a.nav-link(href="./student.html") 學生票專區
              li.nav-item
                a.nav-link(href="./tak.html") 鐵道合作優惠
              li.nav-item
                a.nav-link(href="./macau.html") 南台灣專區
              li.nav-item
                a.nav-link(href="./allyear.html") 精緻旅遊
