doctype html
html(lang="en")
  head
    title 【山富旅遊】中華航空、帶你遨遊世界、環遊各地
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge,Chrome=1")
    meta(name="description" content="山富旅遊提供國內外團體旅遊、機票、訂房、自由行、遊輪、高鐵旅遊、護照簽證…等全方位旅遊產品！無論是員工旅遊、商務差旅、獎勵旅遊等客製化旅遊規劃，都可提供您最優質的服務內容，帶您暢遊世界之美")
    meta(name="keywords" content="山富旅行社")

    // start fb meta
    meta(property="og:locale" content="zh_TW")
    meta(property="og:type" content="website")
    meta(property="og:title" content="【山富旅遊】中華航空、帶你遨遊世界、環遊各地")
    meta(property="og:description" content="山富旅遊提供國內外團體旅遊、機票、訂房、自由行、遊輪、高鐵旅遊、護照簽證…等全方位旅遊產品！無論是員工旅遊、商務差旅、獎勵旅遊等客製化旅遊規劃，都可提供您最優質的服務內容，帶您暢遊世界之美")
    meta(property="og:site_name" content="【山富旅遊】中華航空、帶你遨遊世界、環遊各地")
    meta(property="og:image" content="images/logo.jpg")
    meta(property="og:image:alt" content="山富旅遊提供國內外團體旅遊、機票、訂房、自由行、遊輪、高鐵旅遊、護照簽證…等全方位旅遊產品！無論是員工旅遊、商務差旅、獎勵旅遊等客製化旅遊規劃，都可提供您最優質的服務內容，帶您暢遊世界之美")
    // end fb meta

    link(rel="stylesheet" href="css/main.css")
    script(src="js/vendor.js")
    
  body
    include partials/_header.pug
    block carousel
    include partials/_navbar.pug
    block content

    include partials/_footer.pug
    include partials/_script.pug
    