extends ./_layout.pug

block carousel
  - var path = 'allyear.html'
  include partials/_carousel.pug

block content
  #section_main
    .container
      .row
        .col-lg-12.col-12
          .content
            .page-header
              h2 2018年度行程
            p.highlight_green 適用期間：2018.04.01~2019.03.31 (主行程與續住需使用完畢)
            .all-tab
              ul.nav.nav-tabs(role="tablist")
                li.nav-item
                  a#tab1-tab.nav-link.active(data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true") 東北亞
                li.nav-item
                  a#tab2-tab.nav-link(data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false") 東南亞
                li.nav-item
                  a#tab3-tab.nav-link(data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false") 大陸地區
              .tab-content.tab-container
                #tab1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="tab1-tab") 
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 大阪 2天1夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 大阪周遊卡二日券
                    .price
                      span 12,600
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 京都 2天1夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 關西周遊卡二日券
                    .price
                      span 13,000
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 首爾 3天2夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 仁川/金浦機場至飯店單程接機服務
                    .price
                      span 14,600
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 首爾 蠶室觀光特區歡樂套票 親子主題 2天1夜
                      ol
                        li 來回機票+住宿
                        li 樂天世界歡樂套票（包含樂天世界主題樂園一日通票+樂天世界海洋館單次票）
                    .price
                      span 16,150
                #tab2.tab-pane.fade(role="tabpanel" aria-labelledby="tab2-tab") 
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 新加坡 3天2夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 新加坡機場至新加坡飯店來回接送機服務
                        li 迎賓好禮：新加坡蛋糕名店Bengawan Solo 蛋糕兌換券
                    .price
                      span 15,050
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 聖淘沙 2天1夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 新加坡機場至聖淘沙飯店來回接送機服務
                        li 迎賓好禮：新加坡蛋糕名店Bengawan Solo 蛋糕兌換券
                    .price
                      span 15,150
                #tab3.tab-pane.fade(role="tabpanel" aria-labelledby="tab3-tab") 
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 上海 3天2夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 上海機場至上海飯店接機服務
                    .price
                      span 12,850
                  a.tab-content(href="#" target="_blank")
                    .list
                      h4 北京 2天1夜
                      ol
                        li 來回機票+住宿+每日早餐
                        li 北京機場至北京飯店來回接送機服務
                    .price
                      span 14,850
