extends ./_layout.pug

block carousel
  - var path = 'hsbc.html'
  include partials/_carousel.pug

block content
  #section_main
    .container
      .row
        .col-lg-12.col-12
          .content
            .page-header
              h2 滙豐銀行HSBC聯名無限卡 搭乘華航77折起
            ul
              li 開票日：即日起 ~ 2018/6/30
              li 出發日：即日起 ~ 2018/12/31
            p.subtitle
              span 促銷內容
            ul
              li
                | 活動期間持華航/滙豐HSBC聯名無限卡刷卡購買本人由台灣出發之機票，且搭乘艙等為華航豪華商務艙/商務艙之FIT單程或來回機票(※限純華航/華信正航班，不適用延伸他航行程)，即可享有以下折扣優惠：
            table.table.table-bordered.table-sm
              thead
                tr
                  th(colspan="2" width="60%") 行程
                  th(width="13%") 訂位艙等
                  th(width="13%") 票價
              tbody
                tr
                  td 長程線
                  td 商務艙/豪華商務艙
                  td J / C / D
                  td 票面 x 82 %
                tr
                  td 區域線
                  td 商務艙/豪華商務艙
                  td J / C / D
                  td 票面 x 87 %
                tr
                  td 香港
                  td 商務艙
                  td J / C / D
                  td 票面 x 77 %
            p.subtitle
              span 注意事項
            ol
              li.highlight_red 本專案不適用線上訂位，如需訂位請洽服務人員。
              li 本專案之哩程升等及配偶禮遇升等規定，請依照華夏會員相關規範辦理。
              li 哩程累計、行李重量及其他相關作業，均依開票時之規定辦理。
              li 本促銷案不得與其他促銷案（如：其他信用卡合作案、晉升晶鑽卡/翡翠卡購票折抵金、企業專案、其他促銷優惠專案…等）及華航禮券合併使用。
            p.subtitle
              span 適用航點
            ol
              li
                | 台灣出發且搭乘艙等為華航豪華商務艙/商務艙之個人單程或來回機票(※限純華航/華信正航班，不適用延伸他航行程)。
                br
                | ※台灣含桃園 / 松山 / 台中 / 台南 / 高雄。
              li
                | 不適用票種：早鳥票、兩人(以上)成行、資深公民票、套票、團體票、精緻旅遊、外勞票、移民票、學生票、外籍人士特惠票、廣告交換票(BARTER TKT)、船員票、折扣票(AD、ID)、兒童票、嬰兒票、特定企業簽約特惠票、華航與他航之聯營航班皆不適用。
                br
                | (※例外：桃園-河內航線.及高雄-胡志明航線及桃園-巴黎航線之華航與他航聯營航班適用本優惠案)。
              li 適用華信 高雄/桃園出發之香港及兩岸直航班機，華信航班可以直接開立。
              li 新德里/關島/帛琉為區域線。
            p.subtitle
              span 長程線 熱門航點
            table.table.table-bordered.table-sm
              thead
                tr
                  th(width="25%") 航點
                  th(width="25%") HSBC聯名無限卡專案價
                  th(width="25%") 航點
                  th(width="25%") HSBC聯名無限卡專案價
              tbody
                tr
                  td 桃園-洛杉磯
                  td $101,352起
                  td 桃園-安大略
                  td $101,352起
                tr
                  td 桃園-舊金山
                  td $99,712起
                  td 桃園-紐約
                  td $134,070起
                tr
                  td 桃園-夏威夷
                  td $59,040起
                  td 桃園-溫哥華
                  td $88,150起
                tr
                  td 桃園-倫敦
                  td $78,720起
                  td 桃園-巴黎
                  td $69,372起
                tr
                  td 桃園-阿姆斯特丹
                  td $77,654起
                  td 桃園-維也納
                  td $82,000起
                tr
                  td 桃園-法蘭克福
                  td $90,364起
                  td 桃園-羅馬
                  td $82,000起
                tr
                  td 桃園-雪梨
                  td $57,400起
                  td 桃園-布里斯班
                  td $62,730起
                tr
                  td 桃園-墨爾本
                  td $61,500起
                  td 桃園-奧克蘭
                  td $65,600起
            p.subtitle
              span 區域線 熱門航點
            table.table.table-bordered.table-sm
              thead
                tr
                  th(width="25%") 航點
                  th(width="25%") HSBC聯名無限卡專案價
                  th(width="25%") 航點
                  th(width="25%") HSBC聯名無限卡專案價
              tbody
                tr
                  td 桃園-沖繩
                  td $14,355起
                  td 桃園-釜山
                  td $13,485起
                tr
                  td 桃園-東京
                  td $24,186起
                  td 桃園-首爾
                  td $14,616起
                tr
                  td 桃園-大阪
                  td $20,880起
                  td 桃園-馬尼拉
                  td $14,790起
                tr
                  td 桃園-曼谷
                  td $18,270起
                  td 桃園-河內
                  td $18,705起
                tr
                  td 桃園-新加坡
                  td $19,575起
                  td 桃園-吉隆坡
                  td $19,575起
                tr
                  td 桃園-胡志明
                  td $20,010起
                  td 桃園-檳城
                  td $21,315起
                tr
                  td 高雄-沖繩
                  td $13,485起
                  td 台南-大阪
                  td $19,575起
                tr
                  td 高雄-東京
                  td $17,400起
                  td 高雄-大阪
                  td $19,575起
                tr
                  td 高雄-胡志明
                  td $16,095起
                  td 高雄-河內
                  td $18,705起
                tr
                  td 高雄-曼谷
                  td $18,705起
                  td 高雄-雅加達
                  td $18,705起
                tr
                  td 高雄-新加坡
                  td $19,575起
                  td 高雄-北京
                  td $23,403起
                tr
                  td 桃園-北京
                  td $23,490起
                  td 高雄-上海
                  td $19,662起
                tr
                  td 桃園-上海
                  td $23,664起
                  td 高雄-深圳
                  td $15,225起
                tr
                  td 桃園-廣州
                  td $14,790起
                  td 高雄-廈門
                  td $11,484起
                tr
                  td 桃園-深圳
                  td $14,790起
                  td 高雄-長沙
                  td $13,050起
                tr
                  td 桃園-成都
                  td $18,357起
                  td 高雄-重慶
                  td $19,227起
                tr
                  td 桃園-青島
                  td $18,270起
                  td 桃園-帛琉
                  td $32,190起
                tr
                  td 桃園-關島
                  td $28,710起
                  td 桃園-新德里
                  td $37,410起
            p.subtitle
              span 香港
            table.table.table-bordered.table-sm(style="margin-bottom: 5px;")
              thead
                tr
                  th(width="25%") 航點
                  th(width="25%") HSBC聯名無限卡專案價
                  th(width="25%") 航點
                  th(width="25%") HSBC聯名無限卡專案價
              tbody
                tr
                  td 桃園-香港
                  td $7,854起
                  td 高雄-香港
                  td $8,778起
            p.ps ※ 以上票價不含稅金，實際票價及稅金請以訂位紀錄為準
            a.btn.btn-danger.float-right(href="https://ticket.travel4u.com.tw/" target="_blank") >>搜尋更多票價
