extends ./_layout.pug

block carousel
  - var path = 'index.html'
  include partials/_carousel.pug

block content
  #section_main
    .container
      .row
        .col-lg-12.col-12
          .content
            .page-header
              h2 精選航線機上WiFi免費送
            .col-lg-12.col-12.main_img
              img(src="images/900x250_free_wifi.jpg" alt="精選航線機上WiFi免費送")
            p.highlight_green 華航加州安大略及紐澳 、倫敦商務艙或豪華經濟艙機票，華航提供24h Wi-Fi兌換券！
            ol
              li 活動兌換效期：即日起 ~ 2018/06/30 (GMT+8 台灣時間)。
              li
                | 活動兌換機票出發日期：即日起 ~ 2018/06/30 (GMT+8 台灣時間)
                ol
                  li 加州安大略：限出發日期為2018/03/25(含)以後之航班。
                  li 澳洲地區：限出發日期為2018/03/25(含)~2018/06/30(含)前之航班。
                  li 紐西蘭奧克蘭：即日起~2018/06/30(含)前之航班。
                  li 倫敦蓋威克：即日起~2018/06/30(含)前之航班。
              li
                | 本兌換專區僅接受開立之機票行程含以下航班：
                ol
                  li
                    | 加州安大略：含CI023或CI024
                    a.highlight_link_blue(href="#") 安大略ONT
                    | 航點中華航空承運之航班。
                  li
                    | 澳洲地區：含
                    a.highlight_link_blue(href="#") 布里斯本BNE
                    |  / 
                    a.highlight_link_blue(href="#") 雪梨SYD
                    |  / 
                    a.highlight_link_blue(href="#") 墨爾本MEL
                    | 任一航點中華航空承運之航班。
                  li
                    | 紐西蘭地區：含
                    a.highlight_link_blue(href="#") 奧克蘭AKL
                    | 航點之任一行程中華航空承運航班。(例：奧克蘭-布里斯本 , 台北-奧克蘭...等)
                  li
                    a.highlight_link_blue(href="#") 倫敦
                    | 地區：含CI069或CI070 LGW航點中華航空承運之航班。
              li 開立之商務艙/豪華經濟艙機票僅接受機票號碼前三碼為 297 之華航機票，機票號碼非297開頭之華航機票恕無法兌換。
              li 哩程升等商務艙/豪華經濟艙(需完成酬賓獎項兌換並訂妥確認機位)、商務艙/豪華經濟艙酬賓免費機票亦適用本活動，但機場付費升等商務艙/豪華經濟艙不適用本活動。
              li 同業折扣機票不適用本活動。嬰兒票恕不提供兌換。
              li 依實際符合上述資格之訂位代號(機票)提供可兌換之Wi-Fi Onboard使用券數量(一張機票限兌換一組WI-FI使用卷序號)。
              li 本活動所贈送之 Wi-Fi Onboard 使用券兌換如輸入之訂位代號無訂妥確認之機位及機票即無法進行兌換。
              li
                | Wi-Fi Onboard 使用券為電子序號，
                span.highlight_red 需於登機前透過華航官網進行兌換
                | ，獲得WI-FI序號後方能於機上使用。
              li.highlight_red 本Wi-Fi Onboard 使用券為免費贈品，無退款價值。
              li 中華航空保留隨時解釋、修改、或取消以上條款的權利。
              li
                | 詳細說明請參閱：
                span
                  a.highlight_link_blue(href="https://calec.china-airlines.com/JCDWiFi/AgreementONT.aspx?lang=zh-tw&country=tw&locale=zh" target="_blank") 商務艙&豪華經濟艙免費Wi-Fi Onboard兌換
