extends ./_layout.pug

block carousel
  - var path = 'macau.html'
  include partials/_carousel.pug

block content
  #section_main
    .container
      .row
        .col-lg-12.col-12
          .content
            .page-header
              h2 南區業者機票加購華航大飯店優惠案
            ul
              li 解決南部旅客首班高鐵無法銜接桃園(TPE)早出航班問題，推出台灣地區嘉義以南出發旅客機票加購 「華航諾富特飯店」優惠方案(以下簡稱華飯)
              li 本專案限於機票開票前提出需求，已開票後不適用此專案。
            p.subtitle
              span 優惠內容
            ol
              li 銷售地點：山富旅行社-嘉義分公司、台南分公司、高雄分公司。
              li 銷售及住宿期間：2018年 3月15日~2018年 12月 31日。
              li 南部出發之首班高鐵無法銜接之北出早班機，適用航班如下：
              table.table.table-bordered.table-sm(style="margin-bottom: 5px;")
                thead
                  tr
                    th 航班
                    th 航段
                    th 起飛時間
                    th 每週航班
                  tr
                    td CI055
                    td 桃園TPE/雪梨SYD
                    td 07:40
                    td 每週二、四、六
                  tr
                    td CI069
                    td 桃園TPE/倫敦LGW
                    td 08:55 / 09:30
                    td 每週一、三、五、六
                  tr
                    td CI075
                    td 桃園TPE/羅馬FCO
                    td 09:25
                    td
                      | 每週二、六 
                      span.highlight_red (※CI075台北/羅馬航班僅適用至2018/6/30)
                  tr
                    td CI7915
                    td 桃園TPE/仰光RGN
                    td 07:00
                    td 每日
                  tr
                    td CI861
                    td 桃園TPE/金邊PNH
                    td 07:25
                    td 每週一、三、四、六、日
                  tr
                    td CI026
                    td 桃園TPE/關島GUM
                    td 08:00
                    td 每週二、三、五、六
                  tr
                    td CI731
                    td 桃園TPE/檳城PEN
                    td 08:10
                    td
                      | 每日 
                      span.highlight_red (※CI731台北/檳城航班 自2018/6/7起適用)
                  tr
                    td CI753
                    td 桃園TPE/新加坡SIN
                    td 08:20
                    td 每日
                  tr
                    td CI181
                    td 桃園TPE/新德里DEL
                    td 08:00
                    td 每週二、四、日
                  tr
                    td CI721
                    td 桃園TPE/吉隆坡KUL
                    td 08:30
                    td 每日
                  tr
                    td CI761
                    td 桃園TPE/雅加達JKT
                    td 09:05
                    td
                      | 每日 
                      span.highlight_red (※CI761台北/雅加達航班 僅適用至2018/6/30)
                  tr
                    td CI771
                    td 桃園TPE/峇里島DPS
                    td 09:10
                    td 每日
                  tr
                    td CI9237
                    td 桃園TPE/巴黎CDG
                    td 10:25
                    td 每週二、五、日
              li 優惠方案：購買中華航空指定航班並開立華航297個人機票，於開票前告知服務人員。
              li 不適用艙等：商務艙：O艙、豪經艙：Z艙、經濟艙：L、X、S、G艙。
              li 不適用票種：山富有位有價票、團體票、機票搭配飯店促銷票(IIT TKT)、免費票、折扣票(AD、ID)。
              li
                | 旅客限加購班機起飛前一天入住華飯一晚收費標準：
                ul
                  li 商務艙旅客華飯房價，由華航全額補貼。
                  li 豪經艙單人房：TWD600/每間；雙人房：TWD700/每間。
                  li 經濟艙單人房：TWD1,100/每間；雙人房：TWD1,300/每間。
            p.subtitle
              span 取消與退票
            ol
              li 凡開立本專案，旅客欲取消行程，不可逕行辦理退票，請原開票業者最遲於入住當日17：00前以email及電話通知飯店取消訂房，獲飯店確認取消始為有效，可免收罰金。
              li 入住日18：00後未入住視同No Show，飯店將收取全額訂房費用。
              li 機票退票費用需另計。
              li 中華公司於辦理退票時將一律檢視機票與飯店使用狀態，若旅客已使用飯店，須自機票退款內扣除飯店原價與優惠價差。
              li 本案優惠對象為班機出發當日首班高鐵無法銜接之旅客。
              li
                | 取消原行程旅客若無法確定未來出發日期，機票於適用效期內可更改日期者可保留機票，惟ElgS須先行辦理退票，退票手續費為原加購費用之10%。(2018/6/1起生效)
              li 旅客取消行程機票與飯店整套辦退時，機票按其票規扣除退票手續費，飯店ElgS部份扣除加購費用之10%。(2018/6/1起生效)
            p.subtitle
              span 班機異動
            ol
              li 除非臨時異動，未及於入住當日17：00前取消外，請務必聯繫飯店取消或更改日期(須與機票REBOOKING日期配搭)。
              li 非不可抗力因素之班機異動取消行程，機票與飯店辦退免扣手續費。
              li 非不可抗力因素之班機異動，旅客仍堅持當日須出發，但替代航班非適用航班或為他航，視替代航班時間、特殊狀況個案處理。
              li 不可抗力因素之班機異動變更行程，視狀況個案處理。
            .row
              .col-lg-4
                img(src="images/intimate.gif" alt="intimate")
              .col-lg-4
                img(src="images/panda.gif" alt="panda")