extends ./_layout.pug

block carousel
  - var path = 'tak.html'
  include partials/_carousel.pug

block content
  #section_main
    .container
      .row
        .col-lg-12.col-12
          .content
            .page-header
              h2 台北-高松(TAK)來回個人機票，購票即贈送香川縣優惠券
            .col-lg-12.col-12.main_img
              img(src="images/600x355_tak.jpg" alt="台北-高松(TAK)來回個人機票，購票即贈送香川縣優惠券")
            p.highlight_green
              | 中華航空公司與香川縣合作，開立華航
              a.highlight_link_yellow(href="javascript: void(0)" name="triptype=Return&dept=TPE&arr=TAK&depdate=2018/06/21&retdate=2018/06/28&direct=Y&addthree=Y&airline=CI&rbd=5&adult=1&child=0&inft=0" onclick="goNextStepBanner(this);") 高松來回機票
              | 之旅客，皆可獲得"香川優惠券"
            p.subtitle
              span 適用日期
            ul
              li 開票日期：2018/04/01 ~ 2019/03/25
              li 出發日期：2018/04/01 ~ 2019/03/25
              li 優惠券使用期限：2018/04/01 ~ 2019/03/31
            p.subtitle
              span 注意事項
            ol
              li
                | 優惠券內容：一本共有(1張封面、3張優惠券、2張說明內容)
                ol
                  li 高松機場利木津巴士來回乘車票券(往JR高松站/琴平站/丸龜站方向)
                  li 小豆島Ferry來回乘船票券，可不同點進出(土庄港、池田港、草壁港、坂手港)
                  li 栗林公園入園券
              li
                | 使用方法
                ul
                  li
                    | 巴士乘車券
                    ol
                      li 此來回乘車券為正式用券，可直接使用。
                      li 巴士優惠券上有標示機場出口為第幾號乘車處。
                      li 乘車前請先向各乘車處的站務人員確認欲搭乘的巴士是否正確。
                      li 下車時將優惠券出示給司機剪票回收。
                      li 請注意：往JR高松站方向的巴士有中文廣播提醒下車，其它往JR琴平站及丸龜站方向的巴士，請搭乘者留意前面LED看板文字。
                  li
                    | 小豆島Ferry乘船票
                    ol
                      li 此來回乘船票券為正式用券，可直接使用。
                      li 不需至購票中心，可直接前往搭船處。
                      li 請先向搭船處的站務人員確認所搭乘的船是否為前往小豆島（土庄港）
                      li 無誤後上船前，請將此船票出示給船務人員確認，剪票。
                      li 下船時不需要再出示任何票券。
                  li
                    | 栗林公園
                    ol
                      li 此入園券為正式用券，可直接使用。
                      li 於栗林公園入口處，購票處出示此入園券即可入園。
                      li 出園時不需再出示任何票券。
              li 數量有限，送完為止。
              li 退票作業：退票時須繳回此優惠券，並依各票類現行退票作業辦理；若無法繳回，則每人須另外負擔TWD2,000票券費用，山富服務費另計。
